---
- name: Mettre à jour le cache apt
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Installer Nginx
  apt:
    name: nginx
    state: present

- name: Créer le répertoire pour le document root
  file:
    path: "{{ nginx_document_root }}"
    state: directory
    owner: "{{ nginx_user }}"
    group: "{{ nginx_user }}"
    mode: '0755'

- name: Copier le fichier index.html
  copy:
    src: index.html
    dest: "{{ nginx_document_root }}/index.html"
    owner: "{{ nginx_user }}"
    group: "{{ nginx_user }}"
    mode: '0644'
  notify: Recharger Nginx

- name: Configurer Nginx (site par défaut)
  template:
    src: default.j2
    dest: /etc/nginx/sites-available/default
  notify: Redémarrer Nginx

- name: Activer le site Nginx
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link

- name: Vérifier la syntaxe de la configuration Nginx
  command: nginx -t
  changed_when: False

- name: Démarrer et activer Nginx
  service:
    name: nginx
    state: started
    enabled: yes
